Klient/App_WebReferences/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50126/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="DodajNauczyciela">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="tn" nillable="true" type="q1:TNauczyciel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajNauczycielaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EdytujNauczyciela">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="tn" nillable="true" type="q2:TNauczyciel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EdytujNauczycielaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunNauczyciela">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunNauczycielaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WyswietlNauczycieli">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WyswietlNauczycieliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="WyswietlNauczycieliResult" nillable="true" type="q3:ArrayOfTNauczyciel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajUcznia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="tu" nillable="true" type="q4:TUczen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajUczniaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EdytujUcznia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="tu" nillable="true" type="q5:TUczen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EdytujUczniaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunUcznia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunUczniaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WyswietlUczniow">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WyswietlUczniowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="WyswietlUczniowResult" nillable="true" type="q6:ArrayOfTUczen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajPrzedmiot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="tp" nillable="true" type="q7:TPrzedmiot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajPrzedmiotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EdytujPrzedmiot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="tp" nillable="true" type="q8:TPrzedmiot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EdytujPrzedmiotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WyswietlPrzedmioty">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WyswietlPrzedmiotyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="WyswietlPrzedmiotyResult" nillable="true" type="q9:ArrayOfTPrzedmiot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajKlase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="tk" nillable="true" type="q10:TKlasa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajKlaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EdytujKlase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="tk" nillable="true" type="q11:TKlasa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EdytujKlaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WyswietlKlasy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WyswietlKlasyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="WyswietlKlasyResult" nillable="true" type="q12:ArrayOfTKlasa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajOcene">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="to" nillable="true" type="q13:TOcena" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajOceneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EdytujOcene">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="to" nillable="true" type="q14:TOcena" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EdytujOceneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunOcene">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunOceneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WyswietlOceny">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WyswietlOcenyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="WyswietlOcenyResult" nillable="true" type="q15:ArrayOfTOcena" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlKlase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlKlaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="wyswietlKlaseResult" nillable="true" type="q16:ArrayOfTKlasa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlNauczyciela">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlNauczycielaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="wyswietlNauczycielaResult" nillable="true" type="q17:ArrayOfTNauczyciel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlPrzedmiot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlPrzedmiotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="wyswietlPrzedmiotResult" nillable="true" type="q18:ArrayOfTPrzedmiot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlUczen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlUczenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="wyswietlUczenResult" nillable="true" type="q19:ArrayOfTUczen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlUczenKlasa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idklasy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlUczenKlasaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="wyswietlUczenKlasaResult" nillable="true" type="q20:ArrayOfTUczen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlPrzedOceny">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iducznia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlPrzedOcenyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="wyswietlPrzedOcenyResult" nillable="true" type="q21:ArrayOfPrzedmiotOceny" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlOcene">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" type="xs:int" />
        <xs:element minOccurs="0" name="uid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlOceneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="wyswietlOceneResult" nillable="true" type="q22:ArrayOfTOcena" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlOcene2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="wyswietlOcene2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="wyswietlOcene2Result" nillable="true" type="q23:ArrayOfTOcena" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>